h1 {
  font-size: 32px;
  text-transform: capitalize;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  text-transform: capitalize;
}

img {
  object-fit: cover;
  max-width: 70px;
}

#temp-weather {
  padding-top: 20px;
}

#temperature {
  font-size: 55px;
}

.container {
  max-width: fit-content;
  margin: 10px;
  color: rgb(89, 88, 88);
  margin: 0 auto;
  padding-top: 20px;
}

.border {
  border-style: solid 1px black;
  padding: 30px 30px 0px 30px;
  border-radius: 10px;
  background: linear-gradient(to top, #ffffff 0%, #ace0f9 100%);
}
.temperature {
  font-size: 40px;
  font-weight: bold;
}

.units {
  position: relative;
  top: -30px;
}

.precipitation {
  font-size: 12px;
  position: relative;
  top: 12px;
}

.days {
  margin-top: 40px;
}

.weather-condition-ul {
  list-style-type: none;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
